<div class="legpart">
  <p class="layer">Countries</p>
  <%= render :partial => 'layers/custom/cascadingwms/auto/countries_legend', :as => :legend %>
</div>
<div class="legpart">
  <p class="layer">Cascaded</p>
  <%= render :partial => 'layers/custom/cascadingwms/auto/cascaded_legend', :as => :legend %>
</div>
