<div class="page-header">
  <h1>Registrierung</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Besten Dank für die Registrierung!</p>
    <p>Sie werden benachrichtigt, sobald die Gruppe für Sie freigeschaltet ist.</p>
    <p><%= link_to "GIS-Browser starten", root_path %></p>
  </div>
</div>
