<% if true %>
<table class="infotab">
  <tr>
     <td class="tabtitle">Country</td>
     <td class="tabtitle">Short</td>
  </tr>
  <% for feature in features do -%>
    <tr>
    <td class="tabcell"><%= feature.ne:sovereignt %></td>
    <td class="tabcell"><%= feature.ne:sov_a3 %></td>
    </tr>
  <% end %>
</table>
<% else %>
<table class="infotab">
  <tr><td class="tabtitle">Country</td>
  <% for feature in features do -%>
    <td class="tabcell"><%= feature.ne:sovereignt %></td>
  <% end %>
  </tr>
  <tr><td class="tabtitle">Short</td>
  <% for feature in features do -%>
    <td class="tabcell"><%= feature.ne:sov_a3 %></td>
  <% end %>
  </tr>
</table>
<% end %>
