<p>Werter GIS-Browser Nutzer</p>

<p>Es Anfrage zur Änderung Ihres Passwort gestellt und Sie können Ihr Passwort unter folgender Adresse neu setzen:</p>

<% url = edit_user_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
<p><%= link_to 'Passwort setzen', url %></p>


<p>Falls die Anfrage nicht von Ihnen stammt, können Sie dieses E-Mail ignorieren.</p>
<p>Das Passwort bleibt unverändert, solange kein neues über obigen Link gesetzt wird.</p>
