<p>Lieber GIS-Browser-Nutzer</p>

<p>Wir haben eine Anfrage erhalten, das Passwort Ihres GIS-Browser-Accounts zurückzusetzen.
Um Ihr Passwort zurückzusetzen und ein neues festzulegen, klicken Sie auf folgenden Link:</p>

<% url = edit_user_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
<p><%= link_to 'Passwort setzen', url %></p>


<p>Falls die Anfrage nicht von Ihnen stammt, können Sie dieses E-Mail ignorieren. Das Passwort bleibt unverändert, solange kein neues über obigen Link gesetzt wird.</p>

<br />
<p>Freundliche Grüsse<br /><br />
GIS-Web-Team<br />
Priska Haller, Adrian Herzog, Stephan Zinggeler
</p>

