<table class="infotab">
  <tr>
     <td class="tabtitle">Country</td>
     <td class="tabtitle">Short</td>
  </tr>
  <% for feature in features do -%>
    <tr>
    <td class="tabcell"><%= feature['ne:sovereignt'] %></td>
    <td class="tabcell"><%= feature['ne:sov_a3'] %></td>
    </tr>
  <% end %>
</table>
