<% if true %>
<table class="infotab">
  <tr>
     <td class="tabtitle">Name</td>
     <td class="tabtitle">Population</td>
  </tr>
  <% for feature in features do -%>
    <tr>
    <td class="tabcell"><%= feature.name %></td>
    <td class="tabcell"><%= feature.pop_est %></td>
    </tr>
  <% end %>
</table>
<% else %>
<table class="infotab">
  <tr><td class="tabtitle">Name</td>
  <% for feature in features do -%>
    <td class="tabcell"><%= feature.name %></td>
  <% end %>
  </tr>
  <tr><td class="tabtitle">Population</td>
  <% for feature in features do -%>
    <td class="tabcell"><%= feature.pop_est %></td>
  <% end %>
  </tr>
</table>
<% end %>
